<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../paper-spinner/paper-spinner.html">



<dom-module id="datamanager-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <template>  
       <paper-spinner active={{cargando}} class="thick"></paper-spinner>
      <h1>{{handleResponse.name}}</h1>
      <h2>Cargando</h2>
    </template>

    <template is="dom-repeat" items="[[handleResponse]]" as="usuario">
      <li>[[usuario.name]]</li>
    </template>
   

    <iron-ajax
      auto
      url="https://jsonplaceholder.typicode.com/users/"
      handle-as="json"
      last-response="{{handleResponse}}">
    </iron-ajax>
  </template>

  <script>
    /**
     * `datamanager-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class DatamanagerElement extends Polymer.Element {
      static get is() { return 'datamanager-element'; }
      static get properties() {
        return {
          handleResponse: {
            type: Object,
            value: ()=> {return {}},
            observer: '_success'
            
          },

          cargando:{
            type:Boolean,
            value:true
          }
      };
    }

    _success(e){
          console.log(e.name)
          this.cargando=false;
        }
      }

    window.customElements.define(DatamanagerElement.is, DatamanagerElement);
  </script>
</dom-module>
